#about{
    display: flex;
    border-radius: 5%;
    background-color: rgb(126, 116, 116);
    color: white;
}
.text{
    width: 50vw;
    font-family: sans-serif;
    float: left;
}
#about img{
    background-color:rgb(117, 107, 107) ;
    border-radius: 25%;
    padding: 1%;
}